.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('http://89.108.73.166:8085/resources/vxy7q/login/keycloak.v2/img/keycloak-bg-darken.svg') no-repeat center center fixed;
  background-size: cover;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 40rem;
  height: 35rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 32, 51, 0.04),
    0 0.8rem 2.4rem rgba(0, 32, 51, 0.12);
  border-radius: 0.4rem;
  padding: 2rem;
}
