<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <time type="FastLocal" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
	  <target name="debugger" xsi:type="Debugger" layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" />
	  <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" concurrentWrites="false" keepFileOpen="false" />
	  <target name="console" 
	          xsi:type="ColoredConsole"
	          layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] [${aspnet-traceidentifier}] ${message} ${exception:format=tostring}"/>
	  <target name="consoleJson" xsi:type="Console">
	    <layout xsi:type="JsonLayout" EscapeForwardSlash="false">
		    <attribute layout="${longdate}" name="Dt"/>
		    <attribute layout="${level:upperCase=true}" name="Level"/>
		    <attribute layout="${logger:shortName=true}" name="Logname"/>
		    <attribute layout="${aspnet-traceidentifier}" name="TraceId"/>
		    <attribute layout="${mdlc:UserName}" name="UserName"/>
		    <attribute layout="${message}" name="Message"/>
		    <attribute layout="${exception:format=tostring,StackTrace}" name="Exception"/>
		    <attribute layout="${ndlc}" name="Context"/>
		    <attribute layout="${event-properties:item=Metric}" name="Alarm" encode="false"/>
	    </layout>
    </target>
  </targets>
  <rules>
	  <logger name="System.*" finalMinLevel="Info" />
	  <logger name="Microsoft.*" finalMinLevel="Info" />
	  <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
	  <logger name="Microsoft.EntityFrameworkCore*" finalMinLevel="Warn" />
	  <logger name="*" writeTo="console" />
  </rules>
</nlog>