.container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100vh;

  padding-top: 1.8rem;

  overflow: auto;
}

.containerColumn {
  display: flex;
  flex-direction: column;

  width: 80rem;
  height: 60rem;

  background-color: var(--color-bg-default);
  border-radius: 0.8rem;
  margin-left: var(--space-xl);
}

.graphics {
  display: flex;
  flex-direction: column;

  width: 80rem;
  height: 60rem;

  background-color: var(--color-bg-default);
  border-radius: 0.8rem;
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}