/* Layout */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding-top: 1.8rem;
}

.containerColumn {
  display: flex;
  flex-direction: column;

  width: 80rem;
  height: fit-content;

  background-color: var(--color-bg-default);
  border-radius: 0.8rem;
  padding: var(--space-xl);
}

.containerColumn > * {
  margin-bottom: var(--space-m);
}

.containerColumn > *:last-child {
  margin-bottom: 0;
}

.mainParamsCostRow {
  display: flex;
  align-items: center;
}

.mainParamsCostRow > *:first-child :global(input) {
  min-width: 2.7rem;
}

.mainParamsCostRow > *:nth-child(1) > div > div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mainParamsCostRow > *:nth-child(2) > div > div {
  border-radius: 0;
}

.mainParamsCostRow > *:nth-child(3) > div > div {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tablesContainer {
  display: flex;
  gap: 2.4rem;
  width: 100%;
  height: 100%;
}

.productsTableContainer {
  display: flex;
  flex-direction: column;
  width: 64rem;
  height: 100%;
}

.priceTableContainer {
  width: calc(100% - 66rem);
  height: 100%;
}

.constructorTable :global(.ant-table .ant-table-thead > tr:nth-of-type(2) > th) {
  background: white;
  border-right: 0.1rem solid transparent;
}

.row {
  display: flex;
  gap: var(--space-4xl);
  align-content: space-around;
}

.withBorder {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: solid 0.1rem var(--color-bg-border);
  border-bottom: solid 0.1rem var(--color-bg-border);
}
