.navbar {
  display: flex;
  width: 100vw;
  height: 6rem;
  border: 0.1rem solid var(--color-bg-secondary);
}

.popover {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 32, 51, 0.04),
    0 0.8rem 2.4rem rgba(0, 32, 51, 0.12);
  border-radius: 0.4rem;
  padding: 0.6rem;
}
